header {
  display:flex;
  font-family: Arial, Helvetica, sans-serif;
  border-top: 3px solid black;
  border-bottom: 3px solid green;
  justify-content: center;
  /* background-color: yellow; */
}
div.leftNav{
  flex:1;
  color:rgb(6, 6, 79);
  margin:5px;
  /* background-color: lightslategrey; */
}
div.rightNav{
  flex-direction:column;
  flex:20;
  /* background-color: sienna; */
}
h1 {
  text-align:center;
  color:red;
  margin: 5px;
  font-size:30px;
}
h2 {
  text-align:center;
  margin:0px;
  font-size:15px;
}
h3,
h4,
h5,
h6,
li,
p#menuSelect {
  margin:15px;
}